/* Totalité de la page avec une couleur de fond : gris clair */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2? family=Ultra&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

/*------------------------------page d'acceuil------------------------------*/
/* navbar styling */



.body1{
    background-image: url(../img/lumiere.jpg);
   background-size: 100% ;
   object-fit: cover;
   background-size: cover;
}

.body2{
    background-image: url(../img/nuage.jpg);
   
   object-fit: cover;
   background-size: cover;
}

.body3{
    background-image: url(../img/lune.jpg);
   background-size: 100% ;
   background-size: cover;
}

.hautpage{
    min-height: 80vh;
    background: url(../img/brux.jpg);
    background-size: cover;
}



nav{
    display:flex;
    flex-direction: row;
    padding: 8px;
    box-shadow: 10px 5px 8px #888888;
}

nav #logo{
    width: 50%;
    color: white;

}
nav #liens{
    width: 50%;
}

#liens li{
    display: inline;
    margin-left: 25px;
}

#liens ul{
    float: right;
    margin-right: 50px;
}
#logo h3{
    
    vertical-align:top;
    
}

#liens a{
    text-decoration: none;
    color: white;
    font-size: large;
}




/* Ajouter du dynamisme a notre navbar */
#liens a:hover{
    padding: 2px;
    border-radius: 5px;
    border: 1px solid wheat;
}


/*Style du showcase */

#showcase{
    margin-top: 8px;
    width: 100%;

    height: 300px;  
    background: url("../banierre.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 350px;

}
#showcase #text{
    background-color: #ed5dc7;
    text-align: center;
    position: relative;
    top: 80px;
    font-weight: bold;
    width: 50%;
    margin:auto;
    font-size: xx-large;
    color: white;
    font-family: 'Ultra', serif;
    box-shadow:0 0 10px #60D6EF,
    0 0 20px #60D6EF,
    0 0 40px #60D6EF;
}


/* styling services */
.services{
    display: grid;
    grid-template-columns:repeat(3,30%);
    width:90%;
    margin:auto;
    margin-top: 20px;
}

.service{

    display: flex;
    flex-direction: column;
    height: 400px;
    text-align: center;
    color: white;
    margin-left: 13em;
}



.services img{
    width: 20em;
    object-fit: cover;
   
}


.service p{
    margin-top: 15px;
    color: white;
    
}
#mes_services{
    text-align: center;
    position: relative;
    font-size: 25px;
    
}

.footer{
    bottom: 0px;
    width: 100%;
    text-align: center;
    height: 100px;
    padding: 0p;
    margin-top: 200px;
    color: white;
}

#icons a{
    color: white;
    font-size: 25px;
    
}





/*----------------------------- page visite --------------------*/
h1{
	text-transform: uppercase;
	text-align: center;
	padding-top: 30px;
    font-family: 'Libre Baskerville', serif;
	margin-top: 100px;
    color: white;
}

h2{
    color: white;
    text-align: center;
}



/*paragraphe*/

/*image*/


.img{
    
    background-size: cover;
    width: 20em;
   height: auto;
   padding-bottom: 50px;
   object-fit: cover;
}

.liens{
    text-decoration: none;
    color: white;
    font-size: large;
}

.img-text{
    text-align: center;
    display: flex;
    
}

.p{
    color: white;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 25px;
    font-weight: bold;
    
    
}

.pp{
    text-align: center;
    color: white;
    padding-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

#presentation{
    text-align: center;
}



/* page conclusion*/