/* Totalité de la page avec une couleur de fond : gris clair */

*{
	 
}

body {
	margin: 0 auto;
}
/*------------------------------------------------------------------------------------------*/
/* page d'acceuil */
.header{
	display: flex;
	align-items: center;
	
}

h1 {  
font-weight: bolt;
font-size: 150%;
text-align: center;
}

ul{
	list-style: none;
	display: flex;
	width: 400px;
	justify-content: space-between;
	
	
}

.lien{
	color: red;
	text-decoration: none;
	font-variant: small-caps;
	margin: 5px;
	
	
}

nav.nav li{
	color: black;
}
#entrer{
	text-align: left;
}
/*----------------------------------------------------------------------------------------------------*/
/* page visite */

section{
	background-size: cover;
	height: 80vh;
	padding: 25px;
}

.titre{
	text-align: center;
	color: white;
	list-style: none;
	
}

.entrer{
	text-align: left;
	color: red;
	background-image: url(../img/bruxelles.jpg);
	background-size: cover;
	height: 25vh;
	padding: 25px;
}

.div img{
	float: right;
}

.paragraph{
	color: black;
}

/*------------------------------------------------------------------------------------------*/
/*galerie*/

	
	header{
		display: list-item;
	}
	img{
		width: 180px;
		float: left;
		
	}

	img{
		margin-right: 80px;
	}

/* page description*/
.lienpage {
	color:black;
}

/* page interview*/
/* page conclusion*/